.iziToast-wrapper {
    .iziToast-capsule {
        .iziToast {
            padding      : 0px 55px 0px 0 !important;
            border-radius: 10px !important;
            overflow     : hidden !important;
            min-height   : auto !important;

            .iziToast-body {
                display    : flex;
                align-items: center;
                height     : 50px;

                .iziToast-texts {
                    margin: 0 !important;

                    .iziToast-message {
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}